body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 15px; /* Размер основного шрифта в <p></p>  */
    background-color: #e0e0e0; /* Цвет фона веб-страницы */
    color: #000000; /* Цвет основного текста */ 
}
h1 {
    color: #bd2929; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
h2 {
    color:#488b5c;
    font-size: 24px;
    font-family: Georgia, serif;
}

#alpha {
    color:#000000;
    font-size: 28px;
    font-family: Georgia, serif;   
}
